* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
}

.header {
  position: fixed;
  top: 0;  
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  color: #ffffff;
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 1.8em;
  margin: 0;
  color: #f9f9f9;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li:not(:last-child) {
  margin-right: 10px;
}

button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  transition: color 0.3s ease;
}

button:hover {
  color: #f9f9f9;
}

.App {
  display: flex;
  padding-top: 60px;
}

.content {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.left-panel {
  flex: 1;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  padding: 20px;
}

.right-panel {
  flex: 2;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.account-data {
  background-color: #fff;
  padding: 20px;
}

.account-data-header {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
}


.trading-data {
  background-color: #fff;
  padding: 20px;
}

.trading-data-header {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
}

.trading-list {
  list-style-type: none;
  padding-left: 0;
}

.data-key, .nested-key {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffba00;
  color: #4b4b4b;
  padding: 10px 20px;
}

.footer-left,
.footer-right {
  font-size: 1.2em;
}
